section#contact {
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: center;
}

section#contact .section-heading {
    color: white;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact .text-danger {
    color: #e74c3c;
}